.container {
    margin: 0 auto;
    height: 100vh;
    width: 1000px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: none;
}

.images {
    width: 100%;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.before, .next{
    position: absolute;
    top: 50%;
    left: 2%;
}

.next {
    left: 97%;
}

.active {
    display: block;
}