.container {
    margin: 0 auto;
    height: 100vh;
    width: 1000px;
    position: relative;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: none;
}

.images {
    width: 100%;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.before, .next{
    position: absolute;
    top: 25%;
    left: 10%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 2;
    color: white;
}

.next {
    left: 10%;
    top: 75%;
}

.active {
    display: block;
}

.ms_arrow {
    padding: 10px;
}

.before:hover, .next:hover {
    cursor: pointer;
    background-color: rgb(174, 173, 173);
}

.thumbnails {
    height: 100%;
    width: 200px;
    z-index: 1;
    position: absolute;
    height: 550px;
    top: 50%;
    transform: translateY(-50%);
}

.thumbnail_image {
    height: 20%;
}

.opacity_active {
    opacity: 0.4;
}

.blue_border {
    border: 2px solid rgb(2, 106, 242);
}